@font-face {
  font-family: 'robotolight';
  src: url("Roboto-Light-webfont.woff") format("woff"), url("Roboto-Light-webfont.eot"), url("Roboto-Light-webfont.eot?#iefix") format("embedded-opentype"), url("Roboto-Light-webfont.woff2") format("woff2"), url("Roboto-Light-webfont.ttf") format("truetype"), url("Roboto-Light-webfont.svg#robotolight") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'shrikhandregular';
  src: url("Shrikhand-Regular.ttf.woff") format("woff"), url("Shrikhand-Regular.ttf.svg#Shrikhand-Regular") format("svg"), url("Shrikhand-Regular.ttf.eot"), url("Shrikhand-Regular.ttf.eot?#iefix") format("embedded-opentype");
  font-weight: bold;
  font-style: normal;
}

/* Variables */
/* Colors */
/* Delay */
* {
  font-family: 'robotolight', arial, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  margin: 0;
}

.restaurant__like {
  position: relative;
}

.restaurant__like .fa-heart.far, .restaurant__like .fa-heart.fas {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 1.5rem;
  cursor: pointer;
  background: inherit;
  position: absolute;
}

.restaurant__like .fa-heart.far:hover, .restaurant__like .fa-heart.fas:hover {
  background: -webkit-gradient(linear, left bottom, left top, from(#FF79DA), to(#9356DC));
  background: linear-gradient(0deg, #FF79DA, #9356DC);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.fa-heart.fas {
  color: linear-gradient(0deg, #FF79DA, #9356DC);
  opacity: 0;
  -webkit-transition: opacity .5s;
  transition: opacity .5s;
}

.fa-heart.fas:hover {
  opacity: 1;
}

/* LOADER */
.loading__spinner {
  width: 100%;
  height: 100%;
  background: rgba(246, 246, 246, 0.75);
  z-index: -1;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-animation: loading-disappear 3s both;
          animation: loading-disappear 3s both;
}

.loading__spinner--point {
  width: 20%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.loading__spinner--point .point {
  width: 1rem;
  height: 1rem;
  border-radius: 100%;
  border: solid 0;
  -webkit-animation: point 2s both;
          animation: point 2s both;
}

.loading__spinner--point .point-3 {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

.loading__spinner--point .point-2 {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

.loading__spinner--point .point-1 {
  background-color: #9356DC;
}

.loading__spinner--point .point-2 {
  background-color: #FF79DA;
}

.loading__spinner--point .point-3 {
  background-color: #99E2D0;
}

@-webkit-keyframes loading-disappear {
  0% {
    opacity: 1;
    z-index: 10000;
  }
  75% {
    opacity: .75;
  }
  100% {
    opacity: 0;
    z-index: -1;
  }
}

@keyframes loading-disappear {
  0% {
    opacity: 1;
    z-index: 10000;
  }
  75% {
    opacity: .75;
  }
  100% {
    opacity: 0;
    z-index: -1;
  }
}

@-webkit-keyframes point {
  0% {
    -webkit-transform: translateY(0) scale(1);
            transform: translateY(0) scale(1);
  }
  33% {
    -webkit-transform: translateY(-200%) scale(1.5);
            transform: translateY(-200%) scale(1.5);
  }
  66% {
    -webkit-transform: translateY(200%) scale(2);
            transform: translateY(200%) scale(2);
  }
  100% {
    -webkit-transform: translateY(0) scale(1);
            transform: translateY(0) scale(1);
  }
}

@keyframes point {
  0% {
    -webkit-transform: translateY(0) scale(1);
            transform: translateY(0) scale(1);
  }
  33% {
    -webkit-transform: translateY(-200%) scale(1.5);
            transform: translateY(-200%) scale(1.5);
  }
  66% {
    -webkit-transform: translateY(200%) scale(2);
            transform: translateY(200%) scale(2);
  }
  100% {
    -webkit-transform: translateY(0) scale(1);
            transform: translateY(0) scale(1);
  }
}

/* HEADER */
header {
  padding: 0 1rem;
  -webkit-box-shadow: 0 0 10px 0 grey;
          box-shadow: 0 0 10px 0 grey;
  height: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

header .fa-arrow-left.fas {
  position: absolute;
  left: 1rem;
  top: 1.5rem;
}

header img {
  height: 1.75rem;
  width: 10rem;
}

/* SEARCH */
.search {
  background-color: #F6F6F6;
  padding: 2rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.search__form {
  height: 3rem;
  width: 100%;
  background-color: #EAEAEA;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 0;
}

.search__form i {
  padding: 0 1.5rem;
  line-height: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.search__form input {
  font-size: 1rem;
  border: none;
  background-color: #EAEAEA;
}

.search__description {
  padding: 1rem 1rem;
  text-align: center;
}

.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.button--search {
  width: 14rem;
  -webkit-box-shadow: 0px 5px 10px -5px grey;
          box-shadow: 0px 5px 10px -5px grey;
}

.button--search:hover {
  -webkit-box-shadow: 0px 5px 10px 0px grey;
          box-shadow: 0px 5px 10px 0px grey;
}

.button--order {
  width: 12rem;
  margin: 2rem 0;
  -webkit-box-shadow: 0px 5px 15px -5px grey;
          box-shadow: 0px 5px 15px -5px grey;
}

.button--order:hover {
  -webkit-box-shadow: 0px 5px 15px 0px grey;
          box-shadow: 0px 5px 15px 0px grey;
}

.button input {
  border-radius: 3rem;
  font-size: 1rem;
  height: 3rem;
  background-image: linear-gradient(170deg, #FF79DA, #9356DC);
  border: none;
  color: white;
}

.button input:hover {
  opacity: .9;
}

/* FUNCTIONING */
.functioning {
  background-color: white;
  padding: 2rem 1rem;
  font-weight: 900;
}

.functioning__list {
  padding-left: 1rem;
  height: 270px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.functioning__list--step {
  -webkit-box-shadow: 0px 5px 10px 5px #E9E9E9;
          box-shadow: 0px 5px 10px 5px #E9E9E9;
  height: 70px;
  padding-left: .5rem;
  border-radius: 20px;
  background-color: #F6F6F6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: relative;
}

.functioning__list--step p {
  width: 1.5rem;
  height: 1.5rem;
  position: absolute;
  font-size: 85%;
  left: -.75rem;
  background-color: #9356DC;
  color: white;
  border-radius: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.functioning__list--step i {
  width: 3rem;
  padding: 0 .25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.functioning__list--step3 {
  background-color: #F5EDFF;
}

.functioning__list--step3 i {
  color: #9356DC;
}

@media screen and (min-width: 800px) {
  .functioning__list {
    height: auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .functioning__list--step {
    width: 30%;
  }
}

/* RESTAURANTS */
.restaurants {
  background-color: #F6F6F6;
  padding: 2rem 1rem;
}

.restaurants-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.restaurants-list__card {
  width: 100%;
  height: 250px;
  background-color: white;
  margin: 1rem 0;
  border-radius: 20px;
  -webkit-box-shadow: 0px 10px 10px 0px #E9E9E9;
          box-shadow: 0px 10px 10px 0px #E9E9E9;
}

.restaurants-list__card--image {
  height: 70%;
  overflow: hidden;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.restaurants-list__card--image .new {
  width: 80px;
  height: 30px;
  border-radius: .25rem;
  background-color: #99E2D0;
  color: #008766;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 0;
  right: 1rem;
}

.restaurants-list__card--image img {
  width: 100%;
  height: 100%;
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
}

.restaurants-list__card--info {
  height: 30%;
  padding: 0 1rem;
  font-size: 90%;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.restaurants-list__card--info h3 {
  margin: 0;
  font-weight: bold;
}

.restaurants-list__card--info p {
  margin: 0;
}

.restaurants-list__card--info .restaurant__like {
  position: absolute;
  right: 3.5rem;
  bottom: 3.5rem;
}

@media screen and (min-width: 800px) {
  .restaurants-list {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (49%)[2];
        grid-template-columns: repeat(2, 49%);
  }
  .restaurants-list__card {
    height: 300px;
  }
}

/* RESTAURANT */
.restaurant {
  position: relative;
}

.restaurant-image {
  overflow: hidden;
  width: 100%;
  height: 250px;
  position: relative;
}

.restaurant-image img {
  width: 100%;
  height: 100%;
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
}

.restaurant-card {
  background-color: #F6F6F6;
  padding: 1rem 1.5rem;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
  position: relative;
  margin-top: -2rem;
}

.restaurant-card__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.restaurant-card__title--name {
  font-family: 'shrikhandregular';
}

.restaurant-card__title .restaurant__like {
  position: absolute;
  right: 3.7rem;
  top: 2.6rem;
}

@-webkit-keyframes menu-appear {
  from {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 0;
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}

@keyframes menu-appear {
  from {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 0;
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}

.delay {
  -webkit-animation: menu-appear .5s;
          animation: menu-appear .5s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.delay-1 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

.delay-2 {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

.delay-3 {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

.delay-4 {
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}

.delay-5 {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.delay-6 {
  -webkit-animation-delay: 1.2s;
          animation-delay: 1.2s;
}

.delay-7 {
  -webkit-animation-delay: 1.4s;
          animation-delay: 1.4s;
}

.delay-8 {
  -webkit-animation-delay: 1.6s;
          animation-delay: 1.6s;
}

.delay-9 {
  -webkit-animation-delay: 1.8s;
          animation-delay: 1.8s;
}

.delay-10 {
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

.delay-11 {
  -webkit-animation-delay: 2.2s;
          animation-delay: 2.2s;
}

.menu__parts-heading {
  font-weight: 100;
  text-transform: uppercase;
  margin-bottom: 0;
}

.menu__parts-heading-underline {
  width: 3rem;
  height: 3px;
  background-color: #99E2D0;
  margin: .5rem 0 .75rem 0;
}

.menu__parts-list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  padding: 0;
  margin: 0 -.5rem;
}

.menu__parts-list .menu__parts-card {
  width: 100%;
  height: 70px;
  border-radius: 1rem;
  background-color: #99E2D0;
  margin-bottom: 1rem;
  overflow: hidden;
  -webkit-box-shadow: 0px 10px 10px 0px #E9E9E9;
          box-shadow: 0px 10px 10px 0px #E9E9E9;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transform-origin: top;
          transform-origin: top;
}

.menu__parts-list .menu__parts-card .menu__parts-choice {
  height: 54px;
  padding: .5rem 1rem;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  -webkit-transition: width .5s;
  transition: width .5s;
}

.menu__parts-list .menu__parts-card .menu__parts-choice:hover {
  width: calc(100% - 80px);
}

.menu__parts-list .menu__parts-card .menu__parts-choice:hover + .restaurant__check i {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.menu__parts-list .menu__parts-card .menu__parts-choice div {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  min-width: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: justify;
      align-content: space-between;
}

.menu__parts-list .menu__parts-card .menu__parts-choice div h3 {
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.menu__parts-list .menu__parts-card .menu__parts-choice div p {
  margin: 0;
  margin-top: auto;
  font-weight: lighter;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.menu__parts-list .menu__parts-card .menu__parts-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-bottom: 0;
  margin-left: 1rem;
  font-weight: bold;
}

.menu__parts-list .menu__parts-card .restaurant__check {
  width: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  left: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__parts-list .menu__parts-card .restaurant__check i {
  font-size: 125%;
  background-color: #99E2D0;
  color: white;
  position: relative;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-transition: -webkit-transform .5s .1s;
  transition: -webkit-transform .5s .1s;
  transition: transform .5s .1s;
  transition: transform .5s .1s, -webkit-transform .5s .1s;
}

@media screen and (min-width: 950px) {
  .restaurant-image {
    height: 400px;
  }
  .menu {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .menu__parts {
    width: 30%;
    padding-right: 1rem;
    padding-left: 1rem;
  }
}

/* FOOTER */
footer {
  background-color: #353535;
  color: white;
  padding: 2rem 1.5rem;
}

footer h2 {
  font-family: 'shrikhandregular';
  font-size: 1.5rem;
  margin: 0;
  padding-bottom: 1rem;
}

footer div {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer div i {
  padding-right: 1rem;
  width: 14px;
  height: 14px;
}
/*# sourceMappingURL=style.css.map */