@font-face {
    font-family: 'robotolight';
    src:url('Roboto-Light-webfont.woff') format('woff'),
        url('Roboto-Light-webfont.eot'),
        url('Roboto-Light-webfont.eot?#iefix') format('embedded-opentype'),
        url('Roboto-Light-webfont.woff2') format('woff2'), 
        url('Roboto-Light-webfont.ttf') format('truetype'),
        url('Roboto-Light-webfont.svg#robotolight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'shrikhandregular';
    src:url('Shrikhand-Regular.ttf.woff') format('woff'),
        url('Shrikhand-Regular.ttf.svg#Shrikhand-Regular') format('svg'),
        url('Shrikhand-Regular.ttf.eot'),
        url('Shrikhand-Regular.ttf.eot?#iefix') format('embedded-opentype'); 
        font-weight: bold;
        font-style: normal;
}

 /* Variables */
    /* Colors */
$primary: #9356DC;
$secondary: #FF79DA;
$tertiary: #99E2D0;
$tertiarydark: #008766;
$clearpurple: #F5EDFF;
$cleargrey: #F6F6F6;
$grey: #EAEAEA;
$shadowgrey: #E9E9E9;
$darkgrey: #353535;

* {
    font-family: 'robotolight', arial, sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

body {margin: 0;}

.restaurant__like {
    position: relative;
    .fa-heart.far, .fa-heart.fas {
        box-sizing: border-box;
        font-size: 1.5rem;
        cursor: pointer;
        background: inherit;
        position: absolute;
        &:hover {
            background: linear-gradient(0deg, $secondary, $primary);
            background-clip: text;
            -webkit-background-clip: text;
            color: transparent;
        }
    }
}

.fa-heart.fas {
    color: linear-gradient(0deg, $secondary, $primary);
    opacity: 0;
    transition: opacity .25s;
    &:hover {
        opacity: 1;
    }
}

/* HEADER */
header {
    padding: 0 1rem;
    box-shadow: 0 0 10px 0 grey;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;    
    .fa-arrow-left.fas {
        position: absolute;
        left: 1rem;
        top: 1.5rem;
    }
    img {
        height: 1.75rem;
        width: 10rem;
    }
}

/* SEARCH */
.search {
    background-color: $cleargrey;
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    position: relative;
    &__form {
        height: 3rem;
        width: 100%;
        background-color: $grey;
        display: flex;
        align-content: center;
        justify-content: center;
        position: absolute;
        top: 0;
        & i {
            padding: 0 1.5rem;
            line-height: 3rem;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        & input {
            font-size: 1rem;
            border: none;
            background-color: $grey;
        }
    }
    &__description {
        padding: 1rem 1rem;
        text-align: center;
        }
}

.button {
    display: flex;
    align-content: center;
    justify-content: center;
    &--search {
        width: 14rem; 
        box-shadow: 0px 5px 10px -5px grey;
        &:hover {
            box-shadow: 0px 5px 10px 0px grey;
        }
    }
    &--order {
        width: 12rem;
        margin: 2rem 0;
        box-shadow: 0px 5px 15px -5px grey;
        &:hover {
            box-shadow: 0px 5px 15px 0px grey;
        }
    }
}
.button input {
    border-radius: 3rem;
    font-size: 1rem;
    height: 3rem;
    background-image: linear-gradient(170deg, $secondary, $primary);
    border: none;
    color: white;
    &:hover {
        opacity: .9;
    }
}

/* FUNCTIONING */
.functioning {
    padding: 2rem 1rem;
    font-weight: 900;    
    &__list {
        padding-left: 1rem;
        height: 270px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        &--step {
            box-shadow: 0px 5px 10px 5px $shadowgrey;
            height: 70px;
            padding-left: .5rem;
            border-radius: 20px;
            background-color: $cleargrey;
            display: flex;
            align-items: center;
            flex-direction: row;
            position: relative;            
            & p {
                width: 1.5rem;
                height: 1.5rem;
                position: absolute;
                font-size: 85%;
                left: -.75rem;
                background-color: $primary;
                color: white;
                border-radius: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            & i {
                width: 3rem;
                padding: 0 .25rem;
                display: flex;
                justify-content: center;
            }
        }
        
        &--step3 {
            background-color: $clearpurple;
            & i {
                color: $primary;
            }
        }
    }
}

@media screen and (min-width: 800px) {
    .functioning__list {
        height: auto;
        flex-direction: row;
        &--step {
            width: 30%;
        }
    }
}

/* RESTAURANTS */
.restaurants {
    background-color: $cleargrey;
    padding: 2rem 1rem;
    &-list {
        display: flex;
        flex-direction: column;
        justify-content: space-between;    
        &__card {
            width: 100%;
            height: 250px;
            background-color: white;
            margin: 1rem 0;
            border-radius: 20px;
            box-shadow: 0px 10px 10px 0px $shadowgrey;        
            &--image {
                height: 70%;
                overflow: hidden;
                border-top-left-radius: 20px;
                border-top-right-radius: 20px;
                position: relative;
                display: flex;
                align-items: center;
                justify-content: center;           
                & .new {
                    width: 80px;
                    height: 30px;
                    border-radius: .25rem;
                    background-color: $tertiary;
                    color: $tertiarydark;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    position: absolute;
                    top: 0;
                    right: 1rem;
                }
                & img {
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    object-fit: cover;
                }
            }
            &--info {
                height: 30%;
                padding: 0 1rem;
                font-size: 90%;
                border-bottom-left-radius: 1rem;
                border-bottom-right-radius: 1rem;
                display: flex;
                flex-direction: column;
                justify-content: center;
                position: relative;            
                & h3 {
                    margin: 0;
                    font-weight: bold;
                }
                & p {
                    margin: 0;
                }
                .restaurant__like {
                    position: absolute;
                    right: 2.5rem;
                    bottom: 3.5rem;
                }
            }
        }
    }
}

@media screen and (min-width: 800px) {
    .restaurants-list {
        display: grid;
        grid-template-columns: repeat(2, 49%);
        &__card {
            height: 300px;
        }
    }
}

/* RESTAURANT */
.restaurant { 
    position: relative;   
    &-image {
        overflow: hidden;
        width: 100%;
        height: 250px;
        position: relative;
        img {
            width: 100%;
            height: 100%;
            position: absolute;
            object-fit: cover;
        }
    }    
    &-card {
        background-color: $cleargrey;
        padding: 1rem 1.5rem;
        border-top-left-radius: 2rem;
        border-top-right-radius: 2rem;
        position: relative;
        margin-top: -2rem;
        &__title {
            display: flex;
            align-items: center;
            justify-content: space-between;
            &--name {
                font-family: 'shrikhandregular';
            }
            .restaurant__like {
                position: absolute;
                right: 3.7rem;
                top: 2.6rem
            }
        }
    }
}
.menu {
    &__parts {

        &-heading {
            font-weight: 100;
            text-transform: uppercase;
            margin-bottom: 0;
        }    
        > div {
            width: 3rem;
            height: 3px;
            background-color: $tertiary;
            margin: .5rem 0 .75rem 0;
        }
        &-list {
            list-style: none;
            display: flex;
            flex-direction: column;
            align-content: space-between;
            padding: 0;
            margin: 0 -.5rem;
            .menu__parts-card {
                width: 100%;
                height: 70px;
                border-radius: 1rem;
                background-color: $tertiary;
                margin-bottom: 1rem;
                overflow: hidden;
                box-shadow: 0px 10px 10px 0px $shadowgrey;
                cursor: pointer;
                display: flex;
                .menu__parts-choice {
                    height: 54px;
                    padding: .5rem 1rem;
                    background-color: white;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;  
                    width: 100%;
                    transition: width .5s;
                    &:hover {
                        width: calc(100% - 80px);
                        + .restaurant__check i {
                            transform: rotate(360deg);
                        }
                    }
                    div {
                        flex: 1;
                        min-width: 150px;
                        display: flex;
                        flex-direction: column;
                        align-content: space-between; 
                        h3 {
                            margin: 0;
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                        }
                        p {
                            margin: 0;
                            margin-top: auto;
                            font-weight: lighter;
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                        }
                    }
                }
                    .menu__parts-price {
                        display: flex;
                        align-items: flex-end;
                        margin-bottom: 0;
                        margin-left: 1rem;
                        font-weight: bold;
                    }
                .restaurant__check{
                    width: 0;
                    box-sizing: border-box;
                    position: relative;
                    left: 25px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    i {
                        background-color: $tertiary;
                        color: white;
                        position: relative;
                        transform: rotate(90deg);
                        transition: transform .5s .10s;
                    }
                }
            }
        }
    }
}


@media screen and (min-width: 950px) {
    .menu {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        &__parts {
            width: 30%;
            padding-right: 1rem;
            padding-left: 1rem;
        }
    }
}
     
/* FOOTER */
footer {
    background-color: $darkgrey;
    color: white;
    padding: 2rem 1.5rem;
    h2 {
        font-family: 'shrikhandregular';
        font-size: 1.5rem;
        margin: 0;
        padding-bottom: 1rem;
    }
    div {
        list-style: none;
        display: flex;
        flex-direction: column;        
        i {
            padding-right: 1rem;
            width: 14px;
            height: 14px;
        }
    }
}